.btn-suscripcion{
  background-color: rgba(gray,.3);
  display: inline-block;
  padding: 1em;
  border-radius: .5rem;
  // position: absolute;
  bottom: 20vh;
  right: 10%;
}
.suscripcion{
  position: relative;
}
.paypal-container{
  background-color: rgba(lightgray, .2);
  border: 1px solid rgba(#000,.3);
  border-radius: .5rem;
  padding: 2rem;
  text-align: center !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 400px;
  p{
    text-align: center;
  }
  img{
    width: 75%;
    margin: 0 auto;
  }
}
.Moldal-loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(#000,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 55555555;
  img{
    width: 40px;
  }
}
